 <div class="container">
    <p class="titulo">Usuario : <span>{{enviar}}</span></p> 
    <div class="lista">
        <div class="row">
            <div class="col-4">
               <!-- <p><b>id:</b>{{input[descripcion-1].id}}</p> -->
               <p><b>Name:</b>{{input[descripcion-1].name}}</p>
               <p><b>Usermane:</b>{{input[descripcion-1].username}}</p>
               <p><b>Email:</b>{{input[descripcion-1].email}}</p>
               <p><b>Phone:</b>{{input[descripcion-1].phone}}</p>
               <P><b>website:</b>{{input[descripcion-1].website}}</P>
            </div>
            
        </div>
        <br> 
    <button type="submit" class="boton" (click)="boton()">Atras</button>   
 </div>   
 </div>
